# 49.152 MHz Oscillator
set_io OSC         37
# set_io PRE_RESET 16

# RS232
set_io RXD      18
set_io TXD      19

# SPI Flash
set_io FLASH_CLK  15
set_io FLASH_CS   16
set_io FLASH_IO0  14
set_io FLASH_IO1  17
set_io FLASH_IO2  47
set_io FLASH_IO3  48

# Onboard LEDs
set_io LED     44

# CODEC SPI Interface
set_io CODEC_SCLK 21
set_io CODEC_MOSI 20
set_io CODEC_CS 42
set_io -pullup yes -pullup_resistor 10K CSMODE 38

# I2S Interface
set_io MCLK 36
set_io BCLK 35
set_io ADCLRC 28
set_io DACLRC 32
set_io ADCDAT 31
set_io DACDAT 34

# Debug interface
set_io IO7 27
set_io IO6 26
#set_io IO5 25
#set_io IO4 23

# Other interfaces
set_io -pullup yes -pullup_resistor 10K USER_BUTTON 9
set_io CAPACITOR 13
set_io POT_1 6
set_io POT_2 2
set_io DIFF_IN 4
